<section class="overall-attendance">
  <h3 class="overall-attendance-header">Overall Subject-wise attendance</h3>
  <div class="overall-attendance-cards">
    <div class="overall-attendance-card overall-attendance-card--green">
      <div class="overall-attendance-card-left">
        <p>98%</p>
      </div>
      <div class="overall-attendance-card-right">
        <p>CSE211 : Computer Science and Architecture</p>
      </div>
    </div>
    <div class="overall-attendance-card overall-attendance-card--green">
      <div class="overall-attendance-card-left">
        <p>79%</p>
      </div>
      <div class="overall-attendance-card-right">
        <p>ECE131 : Basic Electrical and Electronics Engineering Laboratory</p>
      </div>
    </div>
    <div class="overall-attendance-card overall-attendance-card--orange">
      <div class="overall-attendance-card-left">
        <p>69%</p>
      </div>
      <div class="overall-attendance-card-right">
        <p>CSE408 : Design and Analysis of Algorithms</p>
      </div>
    </div>
    <div class="overall-attendance-card overall-attendance-card--green">
      <div class="overall-attendance-card-left">
        <p>81%</p>
      </div>
      <div class="overall-attendance-card-right">
        <p>MEC103 : Engineering Graphics</p>
      </div>
    </div>
    <div class="overall-attendance-card overall-attendance-card--green">
      <div class="overall-attendance-card-left">
        <p>93%</p>
      </div>
      <div class="overall-attendance-card-right">
        <p>CSE325 : Operating System Laboratory</p>
      </div>
    </div>
    <div class="overall-attendance-card overall-attendance-card--red">
      <div class="overall-attendance-card-left">
        <p>45%</p>
      </div>
      <div class="overall-attendance-card-right">
        <p>MTH302 : Probability And Statistics</p>
      </div>
    </div>
    <div class="overall-attendance-card overall-attendance-card--green">
      <div class="overall-attendance-card-left">
        <p>100%</p>
      </div>
      <div class="overall-attendance-card-right">
        <p>PES318 : Soft Skills - I</p>
      </div>
    </div>
    <div class="overall-attendance-card overall-attendance-card--orange">
      <div class="overall-attendance-card-left">
        <p>61%</p>
      </div>
      <div class="overall-attendance-card-right">
        <p>PHY119 : Engineering Physics Laboratory</p>
      </div>
    </div>
    <div class="overall-attendance-aggregate">
      <p>Aggregate Attendance: 86%</p>
    </div>
  </div>
</section>